{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>{{ title }}</h1>
  </header>
{% endblock %}

{% block mainContent %}
  <h2>
    This is Sprint report number {{report.id}}
  </h2>
  <!-- Burn down chart    -->
  <h4><u> Burn-down Chart </u></h4>
  <!-- Embbed from google sheets -->
  <iframe
    width="600" height="371" seamless frameborder="0" scrolling="no"
    src="https://docs.google.com/spreadsheets/d/159aumxY2B08gf0H7M_kqTo2VyRcP8-0WFPE0bxFi3so/pubchart?oid=1331046958&amp;
      format=interactive">
  </iframe>
  <!-- Functionality & Testing -->
  <h4><u> Functionality </u></h4>
  <p>
      Our site currently supports the following functions:
      <ul>
          <li> You can create an event </li>
          <li> Event creation has "memory" if field is valid </li>
          <li> People can RSVP (only from Yale) </li>
          <li> You can view out list of events </li>
      </ul>
  </p>
  <h4><u> Test Complaiance </u></h4>
  <p>
      Our site currently supports the following functions:
      <ul class = 'done'>
          {% for func in report.functionality %}
              <li> {{functionality[func]}} </li>
          {% endfor %}
      </ul>
      We're still working on these issues:
      {% if report.todo != 0 %}
        <ul class = 'todo'>
          {% for todo in report.todo %}
              <li> {{functionality[todo]}} </li>
          {% endfor %}
        </ul>
      {% endif %}
  </p>
  <!-- Scrum meeting held -->
  <h4><u> Scrum meetings held </u></h4>
  <pr>
      Durring the last sprint we had a retro-spec and a sprint planing meeting. <br>
      In the retro-spec we saw that the last sprint was very intense leading to us being ahead of scheduale.<br>
      In the sprint planing meeting we assigend stories to the diffrent team members.
  </p>
  <!-- Points system      -->
  <h4><u> Our points system </u></h4>
  <pr>
      Our points sytem was based on the Fibonacci Sequence. Each developer had assigend points to their own story<br>
      because of our different development skills.
  </p>  
{% endblock %}